@using System.Diagnostics
@using System.ComponentModel.DataAnnotations
@using System.Web
@using OddsNBits.Data.Entities
@implements IDisposable

@inject NavigationManager NavigationManager
@inject ICategoryService CategoryService

<HxNavbar CssClass="oddsnav bg-white fixed-top navbar-light">
    <HxNavbarBrand>Odds &amp; Bits</HxNavbarBrand>
    <HxNavbarToggler />
    <HxNavbarCollapse>
        <HxNav CssClass="me-auto mb-2 mb-lg-0">
            <HxNavLink Href="/">Home</HxNavLink>
            @foreach(var c in _categories)
            {
                <HxNavLink Href=@($"/categories/{c.Slug}")>@c.Name</HxNavLink>
            }
            <HxDropdown>
                <HxDropdownToggleElement ElementName="a" Caret="true" role="button">All Categories</HxDropdownToggleElement>
                <HxDropdownMenu>
                    @foreach(var c in _allCategories)
                    {
                        <HxDropdownItemNavLink href=@($"/categories/{c.Slug}")>@c.Name</HxDropdownItemNavLink>
                    }
                </HxDropdownMenu>
            </HxDropdown>
        </HxNav>

        <div class="d-flex px-3">
            <AuthorizeView>
                <Authorized>
                    <HxNavLink Href="admin/dashboard">
                        <HxIcon Icon="@BootstrapIcon.Briefcase"/> Dashboard
                    </HxNavLink>
                    <HxNavLink Href="Account/Manage">
                        @if (!string.IsNullOrWhiteSpace(context.User.ProfileImage()))
                        {
                            <img class="rounded-circle px-2" src="@context.User.ProfileImage()" width="50">
                        }
                        else
                        {
                            <img class="rounded-circle px-2" src="@($"https://ui-avatars.com/api/?name={HttpUtility.UrlEncode(context.User.DisplayName())}&background=random")" width="50">
                        }
                        <HxIcon Icon="@BootstrapIcon.Person"/> @context.User.DisplayName()
                    </HxNavLink>
                    <div class="nav-item px-3">
                        <form action="Account/Logout" method="post">
                            <AntiforgeryToken/>
                            <input type="hidden" name="ReturnUrl" value="@currentUrl"/>
                            <HxSubmit Color="ThemeColor.Danger" Outline="true">Logout</HxSubmit>
                        </form>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <NavLink href="Account/Login" class="btn btn-primary" style="margin-left: 3px">
                        Login
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>

    </HxNavbarCollapse>
</HxNavbar>


@code {
    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    private Category[] _categories = [];
    private Category[] _allCategories = [];
    private const int MaxShownCategories = 5;


    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    protected override async Task OnInitializedAsync()
    {
        var categories = await CategoryService.GetCategoriesAsync();

        // Only show the first 5 featured categories - these will be on the navbar AND the dropdown
        _allCategories = categories.ToArray();
        _categories = categories.Where(c => c.Featured).Take(MaxShownCategories).ToArray();

        if(_categories.Length < MaxShownCategories)
        {
            _categories = [.. _categories, .. categories.Where(c => !c.Featured).Take(MaxShownCategories - _categories.Length)];
        }

    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

    private void OnSearch()
    {
        // Temporary
        Debug.WriteLine($"Search for {Input.Query}");
    }

    private sealed class InputModel
    {
        [Required]
        public string Query { get; set; } = "";

    }

}