@using OddsNBits.Data.Entities

@if(Posts.Length > 0 && _first is not null)
{
    <div class="row">
        <div class="col-lg-6">
            <div class="card border-0 mb-4 box-shadow h-xl-300">
                <div style="background-image: url(@_first.Image); height: 150px;    background-size: cover;    background-repeat: no-repeat;"></div>
                <div class="card-body px-0 pb-0 d-flex flex-column align-items-start">
                    <h2 class="h4 font-weight-bold">
                        <NavLink class="text-dark" href="@($"/posts/{_first.Slug}")">@_first.Title</NavLink>
                    </h2>
                    <p class="card-text">
                        @_first.Introduction
                    </p>
                    <div>
                        <small class="d-block text-muted">@_first.User.DisplayName in <NavLink href="@($"/categories/{_first.Category.Slug}")">@_first.Category.Name</NavLink></small>
                        <small class="text-muted">@_first.PublishedOn.ShortDisplay()</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="flex-md-row mb-4 box-shadow h-xl-300">
                @foreach(var p in Posts.Skip(1))
                {
                    <div class="mb-3 d-flex align-items-center">
                        <img height="80" src="@p.Image">
                        <div class="pl-3">
                            <h2 class="mb-2 h6 font-weight-bold">
                                <NavLink class="text-dark" href=@($"/posts/{p.Slug}")>@p.Title</NavLink>
                            </h2>
                            <div class="card-text text-muted small">
                                @p.User.DisplayName in <NavLink href="@($"/categories/{p.Category.Slug}")">@p.Category.Name</NavLink>
                            </div>
                            <small class="text-muted">@p.PublishedOn.ShortDisplay()</small>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}


@code {

    [Parameter, EditorRequired]
    public BlogPost[] Posts { get; set; } = [];

    private BlogPost? _first;

    protected override void OnParametersSet()
    {
        if (Posts.Length > 0)
        {
            _first = Posts.First();
        }
    }

}
