@page "/author/new-post"
@using System.Diagnostics
@using Microsoft.AspNetCore.Authorization
@using OddsNBits.Data.Entities
@using OddsNBits.Models
@using TinyMCE.Blazor

@attribute [Authorize(Roles = "Admin,Author")]

@rendermode @(new InteractiveServerRenderMode(prerender: false))

@inject IPostAdminService PostService
@inject ICategoryService CategoryService
@inject IHxMessengerService Messenger
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthProvider
@inject IWebHostEnvironment WebHost

<PageTitle>Create Post | Odds &amp; Bits</PageTitle>

<HxMessenger Position="ToastContainerPosition.TopCenter"/>
<HxMessageBoxHost/>

@* <div class="container"> *@
<h1 class="p-6 ml-6 mr-6">Create Post</h1>
<EditForm Model="_model" class="pl-6 ml-6 mr-6" OnValidSubmit="SavePostAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row">
        <div class="col-sm-6">
            <div class="mb-3">
                <HxInputText Label="Title" @bind-Value="_model.Title" Placeholder="Title" />
                @* <ValidationMessage For="() => _model.Title" class="text-danger" /> *@
            </div>
            <div class="mb-3">
                <label class="form-label">Category</label>
                <InputSelect @bind-Value="_model.CategoryId" class="form-control">
                    <option value="">-select category-</option>
                    @foreach(var cat in _categories)
                    {
                        <option value="@cat.Id">@cat.Name</option>
                    }
                </InputSelect>
                @* <HxSelect TItem="Category" Label="Category" TValue="short" @bind-Value="_model.CategoryId" *@
                @*           Data="_categories" TextSelector="c => c.Name" ValueSelector="c => c.Id" *@
                @*           Nullable="true" NullText="-select category-" NullDataText="Loading categories..."/> *@
                <ValidationMessage For="() => _model.CategoryId" />
            </div>
            <div class="mb-3">
                <HxInputText Label="Introduction" @bind-Value="_model.Introduction" Placeholder="Short introduction" />
                @* <ValidationMessage For="() => _model.Introduction" class="text-danger" /> *@
            </div>
            @if (!string.IsNullOrWhiteSpace(_imageUrl))
            {
                <div class="mb-3">
                    <img src="@_imageUrl" style="height: 200px" />
                </div>
            }
            <div class="mb-3">
                <label class="form-label d-block">Upload Image</label>
                <InputFile OnChange="HandleFileUploadAsync" />
            </div>
            <div class="mb-3">
                <HxCheckbox Text="Featured?" @bind-Value="_model.IsFeatured" />
            </div>
            <div class="mb-3">
                <HxCheckbox Text="Published?" @bind-Value="_model.IsPublished" />
            </div>
            <div class="mb-3">
                <HxSubmit Color="ThemeColor.Success" Text="Save" />
            </div>
        </div>
        <div class="col-sm-6 d-flex">
            <div class="mb-3 flex-grow-1">
                <Editor ScriptSrc="js/tinymce/tinymce.min.js" @bind-Value="_model.Content" Conf="_editorConf" Field="() => _model.Content" />
                <ValidationMessage For="() => _model.Content"/>
            </div>

        </div>

    </div>
</EditForm>
@* </div> *@

@if (_isLoading)
{
    <Loader Text="@_loadingText" />
}

@code {
    private readonly BlogPostModel _model = new();
    private bool _isLoading;
    private string? _loadingText;
    // private IEnumerable<Category> _categories;
    private Category[] _categories = [];


    private string? _imageUrl;
    private IBrowserFile? _imageFile;

    private readonly Dictionary<string, object> _editorConf = new()
    {
        { "menubar", true },
        { "plugins", "preview importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media template codesample table charmap pagebreak nonbreaking anchor insertdatetime advlist lists wordcount help charmap quickbars emoticons accordion" },
        { "toolbar", "undo redo | accordion accordionremove | blocks fontfamily fontsize | bold italic underline strikethrough | align numlist bullist | link image | table media | lineheight outdent indent| forecolor backcolor removeformat | charmap emoticons | code fullscreen preview | save print | pagebreak anchor codesample | ltr rtl" },
        { "codesample_global_prismjs", true},
    };

    protected override async Task OnInitializedAsync()
    {
        _categories = await CategoryService.GetCategoriesAsync();
        foreach (var c in _categories)
        {
            Debug.WriteLine($"Cat ID: {c.Id}");
        }
    }


    private async Task HandleFileUploadAsync(InputFileChangeEventArgs e)
    {
        await PreviewImageAsync(e.File);
        _imageFile = e.File;
    }

    private async Task PreviewImageAsync(IBrowserFile file)
    {
        await using var imgStream = file.OpenReadStream();
        using MemoryStream memStream = new();
        await imgStream.CopyToAsync(memStream);
        Debug.WriteLine($"Image type: {file.ContentType}");
        // data:image/type;base64,fijgofd_content_jnfdgjdfg
        _imageUrl = $"data:{file.ContentType};base64,{Convert.ToBase64String(memStream.ToArray())}";
    }


    private async Task SavePostAsync()
    {
        try
        {

            _loadingText = "Saving post...";
            _isLoading = true;


            // Upload the image file
            string? url;
            if (_imageFile is not null)
            {
                url = await SaveFileAsync(_imageFile);
                if (string.IsNullOrWhiteSpace(url))
                {
                    Messenger.AddError("Image url was null");
                    _isLoading = false;
                    return;
                }
            }
            else
            {
                Messenger.AddError("Image file could not be loaded");
                _isLoading = false;
                return;
            }

            var authState = await AuthProvider.GetAuthenticationStateAsync();
            var userid = authState.User.UserId();

            BlogPost dbpost = new()
                {
                    Title = _model.Title,
                    Introduction = _model.Introduction,
                    Content = _model.Content,
                    Image = url,
                    CategoryId = _model.CategoryId,
                    IsPublished = _model.IsPublished,
                    IsFeatured = _model.IsFeatured
                };
            await PostService.SaveAsync(dbpost, userid);

            Messenger.AddInformation($"Post '{_model.Title}' saved successfully");
            _isLoading = false;
            _imageFile = null;
        }
        catch (Exception ex)
        {
            // TODO: Delete uploaded image file
            Messenger.AddError("Unexpected Error", ex.Message);
            _isLoading = false;
        }
    }

    private async Task<string?> SaveFileAsync(IBrowserFile file)
    {
        var trustedName = Path.GetRandomFileName();
        var ext = Path.GetExtension(file.Name);
        // wwwroot\img\posts
        var destination = Path.Combine(WebHost.WebRootPath, "img", "posts");
        Directory.CreateDirectory(destination);

        var filename = Path.Combine("img", "posts", trustedName + ext);

        var fullpath = Path.Combine(WebHost.WebRootPath, filename);

        await using FileStream fs = new(fullpath, FileMode.Create);
        try
        {
            await file.OpenReadStream().CopyToAsync(fs);

            return filename.Replace('\\', '/');
        }
        catch (Exception ex)
        {
            Messenger.AddError(title: "Failed to save image file!", message: ex.Message);
            fs.Close();

            return null;
        }
    }
}
